<h2><%= link_to post, post %></h2>

<div id="<%= dom_id(post) %>" class="<%= dom_class(post) %>">
  <% require 'bluecloth' %>
  <div class="body"><%= markdown(post.body).html_safe! %></div>

  <ul class="actions">
    <li><%= 'Not' unless post.published? %> Published</li>
    <li><%= link_to 'Show', post %></li>
    <li><%= link_to 'Edit', edit_post_path(post) %></li>
    <li><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></li>
  </ul>
</div>
