<h1>MAI AWESUM BLAWG</h1>

<% @posts.each do |post| %>

<h2><%= post.title %></h2>

<div id="<%= dom_id(post) %>" class="<%= dom_class(post) %>">
  <div class="body"><%= post.body %></div>

  <ul class="actions">
    <li><%= 'Not' unless post.published? %> Published</li>
    <li><%= link_to 'Show', post %></li>
    <li><%= link_to 'Edit', edit_post_path(post) %></li>
    <li><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></li>
  </ul>
</div>

<% end %>

